
<div class="mb-2 p-3 bg-lighter rounded">
    <div class="d-flex justify-content-between align-items-center">
        <span class="small">
            <span class="text-primary">{{ comment.author }}</span> schrieb {{ comment.created|ago }}.</span>
        <span class="small text-secondary">#{{ loop.length|default(0) - loop.index0|default(0) }}</span>
    </div>
    <p class="mb-0">{{ comment.content }}</p>
</div>