<div class="row">
    <div class="col">
        <h3 class="">{{ post.title }}</h3>
        <p>{{ post.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ post.content|raw }}
    </div>
</div>
