
        <div class="d-flex justify-content-between align-items-center my-3">
            <h5 class="">Kommentare</h5>
            <div class="">
                <a class="btn btn-sm btn-light"><i class="fab fa-facebook"></i></a>
                <button
                        type="button"
                        data-target="#collapseComment"
                        class="btn btn-sm btn-light"
                        data-toggle="collapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseComment"
                >
                    <i class="fas fa-comment"></i>
                </button>
            </div>
        </div>

        <div class="collapse" id="collapseComment">
            <form method="post" action="{{ path('api_save_comment', {'slug': post.slug}) }}" class="needs-validation mb-3 save-comment" id="collapseComment" novalidate>

                <textarea name="content" class="form-control" id="content" placeholder="Kommentar" required></textarea>
                <label for="content"></label>
                <div class="form-label-group">
                    <input type="text" name="author" class="form-control" id="author" placeholder="" required>
                    <label for="author">Name</label>
                </div>
                <div class="form-label-group">
                    <input type="email" name="email" class="form-control" id="email" placeholder="" required>
                    <label for="email">E-Mail-Adresse</label>
                </div>
                <button type="submit" class="btn btn-primary btn-block" id="save_comment_button">
                    Absenden
                    <span class="comment spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>

                </button>
            </form>
        </div>
        <div id="comments">
            {% for comment in post.comments %}
                {{ include('app/post_comment_row.html.twig')}}
            {% endfor %}
            {% if post.comments is empty %}
                <span id="no_comment">
                    Noch keine Kommentare vorhanden.
                </span>
            {% endif %}
        </div>