<h3 class="display-4">Impressum</h3>
<p class="lead">Verantwortlich für den Betrieb der Website:</p>
<p>Benjamin Wagner<br />
    Wagner Pictures<br />
    Schwalbenweg 14<br />
    12529 Sch&ouml;nefeld</p>

<h6>Kontakt</h6>
<p class="text-primary">030-57714111<br />
    bwagner@vapita.de</p>

<h6>Verantwortlich f&uuml;r den Inhalt nach &sect; 55 Abs. 2 RStV</h6>
<p>Benjamin Wagner</p>

