{% extends 'app.html.twig' %}

{% block body_content %}
    <section class="fit py-5 mt-3">
        <div class="container">
                        {{ include(controller_content) }}
        </div>
    </section>
{% endblock %}
