<div class="row">
    <div class="col-12 col-md-8 offset-md-2 order-1">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h3 class="display-4 mb-3">Vapita Kontakt</h3>
        <p class="lead">Du möchtest ein Angebot einholen, hast Fragen zu einem laufenden Projekt oder möchtest etwas loswerden?</p>
        {{ include('contact/_form.html.twig') }}
    </div>
</div>