<div class="row">
    <div class="col">
        <h3 class="">{{ post.title }}</h3>
        <p>{{ post.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ post.content|raw }}
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="text-muted py-3">
            This work, including the code samples, is licensed under a Creative Commons BY-SA 3.0 license.
        </p>
    </div>
</div>
