<div class="row small text-muted">
    <div class="col">
        <div class="list-inline mb-2">
            <span class="list-inline-item">Copyright &copy; <b>Wagner Pictures</b> - alle Rechte vorbehalten</span>
        </div>
        <div class="list-inline">
            <a href="{{ path('company_impressum') }}" class="list-inline-item">Impressum</a>
            <a href="{{ path('company_kontakt') }}" class="list-inline-item">Kontakt</a>
        </div>
    </div>
</div>