
{% block body_content %}
    <section class="fit py-3">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <h4 class="text-primary">File not Found</h4>
                    <p class="lead">Try it wo other</p>
                    <a
                            href=""
                            class="btn btn-link"
                    >
                        Weiterlesen <i class="fi-arrow-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <section class="fit py-5 mb-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="display-4">404</h3>
                    <p class="lead">Nix zu machen</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
