{% extends 'app.html.twig' %}

{% block main_menu %}
    {{ parent() }}
    {{ include('app/local_menu.html.twig') }}
{% endblock %}

{% block body_content %}
    <section class="py-3">
    </section>
    <section class="fit py-5 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <h6>Meldungen filtern</h6>
                </div>
                <div class="col-12 col-md-8">
                    {# Inhalt des Posts #}
                    {% if current_sub_post is defined %}
                        {% set post = current_sub_post %}
                    {% else %}
                        {% set post = current_post %}
                    {% endif %}
                    {{ include('app/discover/newsroom/news/post_content.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
