<p>Vielen Dank, {{ firstname }}</p>
<p>Deine Nachricht haben wir erhalten. Wir werden uns so schnell wie möglich bei dir melden. Bitte habe noch etwas Geduld.</p>

<p>Deine Nachricht an uns:</p>
<p style="font-size: smaller">{{ content }}</p>