{% extends 'admin.html.twig' %}

{% block title %}Edit ImageGallery{% endblock %}

{% block content %}
    <h1>Edit ImageGallery</h1>

    {{ include('image_gallery/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('image_gallery_index') }}">back to list</a>

    {{ include('image_gallery/_delete_form.html.twig') }}
{% endblock %}
