{% extends 'admin.html.twig' %}

{% block title %}New ImageGallery{% endblock %}

{% block content %}
    <h1>Create new ImageGallery</h1>

    {{ include('image_gallery/_form.html.twig') }}

    <a href="{{ path('image_gallery_index') }}">back to list</a>
{% endblock %}
